/* ── Tabs (PocketBase exact) ──────────────────────────── */

.tabs-header {
	position: relative;
	z-index: 0;
	display: flex;
	width: 100%;
	gap: 10px;
	align-items: center;
	border-bottom: 2px solid var(--color-base-300);
}
.tabs-header .tab-item {
	outline: 0;
	cursor: pointer;
	display: inline-flex;
	align-items: center;
	text-align: center;
	justify-content: center;
	gap: 5px;
	min-width: 0;
	user-select: none;
	min-height: var(--btn-height);
	padding: 5px var(--spacing-sm);
	border-top-left-radius: var(--radius-field);
	border-top-right-radius: var(--radius-field);
	color: var(--color-base-hint);
	transition:
		color var(--animation-speed),
		background var(--animation-speed);
	border: none;
	background: none;
	font-family: inherit;
	font-size: inherit;
}
.tabs-header .tab-item:hover,
.tabs-header .tab-item:focus-visible {
	color: var(--color-base-content);
	background: var(--color-base-200);
}
.tabs-header .tab-item.active,
.tabs-header .tab-item:active {
	color: var(--color-base-content);
	background: var(--color-base-300);
	transition-duration: var(--animation-speed-fast);
}
.tabs-header.equal-width .tab-item {
	padding: 5px;
	flex-grow: 1;
	flex-shrink: 0;
	flex-basis: 0;
}

/* Tabs inside modal header "merge" with header bottom */
.modal-header.isolated .tabs-header:last-child {
	padding: 0 var(--spacing);
	border-bottom: 0;
	margin-left: calc(-1 * var(--spacing));
	margin-right: calc(-1 * var(--spacing));
	margin-bottom: calc(-1 * var(--spacing) + 9px);
}
.modal-header.isolated .tabs-header:last-child .tab-item {
	border: 1px solid transparent;
	border-bottom: 0;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}
.modal-header.isolated .tabs-header:last-child .tab-item:hover,
.modal-header.isolated .tabs-header:last-child .tab-item:focus-visible {
	background: var(--color-base-300);
}
.modal-header.isolated .tabs-header:last-child .tab-item:active {
	background: var(--color-base-400);
}
.modal-header.isolated .tabs-header:last-child .tab-item.active {
	background: var(--color-base-100);
	border-color: var(--color-base-300);
}
